.sidebar {
  display: flex;
  width: auto;
  flex: 1;
  flex-direction: column;
  width: 14rem;
  margin: 1rem;
  position: relative;
}

.lesson-num {
  margin-top: 4vh;
  width: 100%;
  text-align: center;
  align-items: center;
}

.lesson-progress {
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem;
}

.lesson-instructions {
  border: 2px solid black;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
  min-height: 20%;
  overflow: auto;
  position: absolute;

}

.help-buttons button {
  border: 2px solid black;
  border-radius: 10px;
  width: 6rem;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  background-color: white;
}

.help-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 1rem;
}

.lesson-start-button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1rem;
  background-color: white;
  margin-bottom: 10px;
}

.next-button {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  background-color: white;
} 

.lesson-button{
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  background-color: white;
  text-align: center;}

.lesson-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.wrong-event {
  color: red;
  font-weight: bold;
  text-align: center;
}
.lesson-link {
  text-align: left;
}

.current-step {
  text-align: center;
}

.help-buttons div {
  flex-direction: column;
  align-items: center;
}

.hint-content {
  border: 2px solid black;
  border-radius: 5px;
  width: 20%;
  padding: 10px;
  min-height: 20%;
  overflow: auto;
  position: absolute;
}

[popovertarget='hint-content'] {
  anchor-name: --hint-content;
}

#hint-content {
  bottom: anchor(--hint-content top);
  margin-left: 81%;
  margin-top: 37%;
  width: 15.5rem;
}

#demo-content {
  margin-left: 81%;
  margin-top: 26%;
  width: 15.5rem;
}