
* {
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  align-items: center;
  height: flex;
}

.link {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  color: black;
}

.link:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Lessons Page Styles */ 
.lessons-page {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px;
}

.lesson {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
}

.lesson-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid black;
}

.lesson-content {
  padding: 0 18px;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 10px;
}